// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Colors

.bg-blue {
    background-color: #1f266a;
}

.bg-orange {
    background-color: #e76517;
}

.bg-none {
    background-color: none;
}

.blue {
    color: #1f266a;
}

a,
.orange {
    color: #e76517;
}

a:hover {
    color: #f57c31;
}

.success {
    background-color: #f57c31;
    color: white;
}

// Position

.logout {
    position: absolute;
    top: 8px;
    right: 8px;
}

// Sizing

.fs-25 {
    font-size: 25px;
}

.scrollable-menu {
    height: auto;
    max-height: 165px;
    overflow-x: hidden;
}
